.root {
  width: 100%;
  height: 100vh;
  background: #525252c9;
  overflow: hidden;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 0.2s;
  padding: 0 15px;
}

.inner {
  font-weight: 400;
  font-style: normal;
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  min-height: 500px;
  border-radius: 10px;
  background: #212629;
  color: rgb(228, 228, 228);
  padding: 40px 30px 40px;
  text-transform: uppercase;
  box-shadow: 7px 12px 49px rgba(0, 0, 0, 0.5);
  animation: skale-in 0.2s;
}

.title {
  font-size: 16px;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  pointer-events: none;
  cursor: default;
}

.list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  font-size: 15px;
  // padding-bottom: 50px;
  max-height: 300px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 5px; /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: rgba(49, 49, 49, 0.288); /* цвет дорожки */
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 20px; /* закругления плашки */
    border: 3px solid rgba(197, 130, 7, 0.457); /* padding вокруг плашки */
  }
}

.item {
  background-color: #00000036;
  padding: 5px 50px 5px 10px;
  border-radius: 5px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.list__title {
  color: #e7e7e7;
  font-size: 16px;
  width: max-content;
  margin-bottom: 10px;
}

.image {
  max-width: 80px;
  max-height: 80px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.additions {
  margin-top: 15px;
  margin-left: 10px;
  display: flex;
  gap: 20px;
  color: #a9a9a9;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    font-size: 15px;
    text-transform: lowercase;
    background-color: #37373736;
    padding: 3px 5px;
    border-radius: 2px;
    width: max-content;
  }
}

.info {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: rgba(183, 183, 183, 0.5);
  display: flex;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;

  li {
    position: relative;
  }

  li:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 3.25px;
    height: 3.25px;
    background: rgba(212, 212, 212, 0.2);
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .info__price {
    font-family: "Inter-ExtraBold";
    color: #fe9102;
  }
}

.add_button {
  font-size: 18px;
  line-height: 20px;
  color: #fe9102;
  padding: 20px;
  background: #212629;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5), -1px -1px 6px rgba(255, 255, 255, 0.05),
    -5px -5px 20px rgba(255, 255, 255, 0.1), 5px 5px 20px rgba(0, 0, 0, 0.8);
  border-radius: 99px;
  margin-top: 30px;
  cursor: pointer;

  &:nth-child(1) {
    flex-grow: 1;
  }

  &:active {
    box-shadow: inset -1px -1px 3px rgba(30, 30, 30, 0.8), inset -6px -6px 5px rgba(78, 78, 78, 0.3),
      inset 1px 1px 3px rgba(0, 0, 0, 0.15), inset 6px 6px 5px rgba(0, 0, 0, 0.06);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.number__label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  margin-top: 50px;
}

.number {
  background-color: #1f1f1fa5;
  border-radius: 5px;
  color: #d1d1d1;
  max-width: 280px;
  padding: 8px;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 600;

  &::placeholder {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 600;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes skale-in {
  0% {
    transform: scale(0.8); 
  }
  100% {
    transform: scale(1); 
  }
}

@media (max-width: 600px) {
  .root {
  }
  .inner {
    padding: 20px 10px;
  }

  .list__title {
    font-size: 12px;
    max-width: 150px;
    margin-bottom: 0px;
  }
  .info {
    font-size: 7px;
  }
  .add_button{
    font-size: 12px;
    padding: 15px;
    margin-top: 10px;
  }
}
