@font-face {
	font-family: 'Gilroy-Bold'; 
	src: url(../sources/fonts/Gilroy-Bold.woff2); 
}

@font-face {
	font-family: 'Gilroy-Light'; 
	src: url(../sources/fonts/Gilroy-Light.woff2); 
}

@font-face {
	font-family: 'Inter-Black'; 
	src: url(../sources/fonts/Inter-Black.ttf); 
}

@font-face {
	font-family: 'Inter-ExtraBold'; 
	src: url(../sources/fonts/Inter-ExtraBold.ttf); 
}

@font-face {
	font-family: 'Inter-Regular'; 
	src: url(../sources/fonts/Inter-Regular.ttf); 
}

@font-face {
	font-family: 'Inter-SemiBold'; 
	src: url(../sources/fonts/Inter-SemiBold.ttf); 
}

@font-face {
	font-family: 'Lato-Black'; 
	src: url(../sources/fonts/Lato-Black.ttf); 
}

@font-face {
	font-family: 'Lato-Bold'; 
	src: url(../sources/fonts/Lato-Bold.ttf); 
}

@font-face {
	font-family: 'Lato-Regular'; 
	src: url(../sources/fonts/Lato-Regular.ttf); 
}

