@import "_fonts.scss";
@import "_normalize.scss";

body {
  font-family: "Gilroy-Bold";
}

.container {
  width: 100%;
  max-width: 1290px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 620px) {
  .container {
    padding: 0 15px;
  }
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.popup.fade-enter-active {
  animation: fade-in 0.2s;
  animation-duration: 0.5s;
}
.popup.fade-exit-active{
  animation: fade-out 0.5s forwards;
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes fade-out{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}